[submodule "external/dftracer"]
	path = external/dftracer
	url = https://github.com/izzet/dftracer.git
[submodule "external/brahma"]
	path = external/brahma
	url = https://github.com/izzet/brahma.git
[submodule "external/ESPN-v1"]
	path = external/ESPN-v1
	url = https://github.com/susavlsh10/ESPN-v1
