astunparse==1.6.3
cuda-pathfinder==1.5.5
cupy-cuda12x==14.1.1
gast==0.7.0
kvikio-cu12==26.4.0
libkvikio-cu12==26.4.0
makefun==1.16.0
numpy==2.4.6
nvidia-dali-cuda120==2.1.0
nvidia-libnvcomp-cu12==5.1.0.21
nvidia-nvimgcodec-cu12==0.7.0.11
nvidia-nvjpeg-cu12==12.4.0.76
nvidia-nvjpeg2k-cu12==0.10.0.49
nvidia-nvtiff-cu12==0.7.0.79
nvtx==0.2.15
optree==0.19.1
packaging==26.0
setuptools==82.0.1
six==1.17.0
typing_extensions==4.15.0
wheel==0.47.0
